.p{
    text-align: center;
    font-family: Georgia;
    padding: 10px;

}

body {
    width: 330px;
    height: 480px;
    border: black 0.5px solid;
    box-shadow: gray 3px 3px;
}
.t{
    color: darkblue;
    font-family: cursive;
}
.img{
    width: 330px;
    height: 480px;
    padding: 0px;
}