h1{
    color: red;
    background-color: blue;
    border-style: dotted;
    border-color: yellow;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

img{
    border-bottom: 10px black dashed;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.photo2{
    width:50%;
    height:50%;
}

.text1 {
    text-align: center;
    background-color: aqua;
    margin: auto;
    padding: 5px;
}
.text2{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.text3 {
    text-indent: 40px;
}
.text4 {
    word-spacing: 5px;
    letter-spacing: 5px;
}
.text5 {
    text-transform: capitalize;
}
.text6 {
    text-transform: lowercase;
}
.text7 {
    text-transform: uppercase;
}
.text8 {
    line-height: 10px;
}
.text9 {
    text-shadow: 5px 2px greenyellow;
}

b{
    color: white;
}
p{
    color: white;
}