.box1{
    background-color: #ee4c31;
    color: white;
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 50px;
    float: top;
}
.box2{
    background-color: lightgray;
    float: left;
    color: white;
    width: 15%;
    height: 650px;
    line-height: 30px;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
}
.box3{
    color: black;
    float: top;
    padding: 50px 0 0 300px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: peachpuff;
    color: black;
    text-align: center;

}
