.box{
    margin-left: 10px;
}
.text{
    margin-left: 15px;
    margin-top: 20px;
    float: left;
}
.answers{
    padding-left: 60px;
    float: left;
}
.frame{
    border-color: #56656e;
    border-style: groove;
    padding-left: 10px;
}