.top {

background-color: #56656e;
    color: white;
    text-indent: 10px;
    margin-left: 10px;
    padding-left: 10px;
}
.middle {
    background-color: white;
    color: #56656e;
    text-indent: 10px;
    margin-left: 10px;
    padding-left: 10px;
}
.bottom{
    background-color: #56656e;
    color: white;
    text-indent: 10px;
    margin-left: 10px;
    padding-left: 10px;
    text-align: center;
}

.name {
    margin-left: 25px;
    color: #56656e;
    width: 25%;
    border-radius: 3px;
}
.message{
    margin-left: 25px;
    color: #56656e;
    width: 25%;
    height: 100px;
    border-radius: 3px;
}
.box1{
    float: right;
    background-color: white;
    width: 20%;
    height: 10%;
}
.right1{
    float: right;
    background-color: white;
    height: 5em;
    width: 30%;
    margin: 20px;
border: white 2px;
}
.right2{
    float: right;
    background-color: #56656e;
    color: #56656e;
    height: 5em;
    width: 30%;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-right: 20px;

    border: white 2px;
}
.images {
    align:right;
    margin: 20px;
    opacity: 90%;
}