
.back{
    color: goldenrod;
}
.border{
    border: 4px solid pink;
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.message{
    border: lightskyblue 5px solid;
    margin: 5px;
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    font-family: Arial;
}
.image{
    width: 100px;
    flex-direction: column;
}
img{
    width: 100px;
}
.message:nth-of-type(odd){
    float: left;
}
.message:nth-of-type(even){
    float: right;
    flex-direction: row-reverse;
    padding-left: 30px;
    text-align: right;
    padding-top: 10px;
}

