.main{
    height: 70px;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    width: 50%;
    align-items: center;
}
a {
    text-decoration: none;
}

nav {
    font-family: monospace;
}

    ul {
        display: flex;
        flex-direction: row;
        width: 70%;
        font-size: 20px;
        border: none;
        background: darkorange;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

li {
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: #fff;
}

li:hover {
    background: red;
    cursor: pointer;
}

ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;

}

ul li ul li {
    clear: both;
    width: 100%;
}


