*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Raleway', sans-serif;
}
.logo{
    background: #000;
    width: 100%;
    display: flex;
    justify-content: center;
}
.graficlogo{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
nav{
    margin: auto;
    width: 800px;
    height: 50px;
}
.topnav{
    background-color: #fff;
    font-size: 14px;
    margin-top: 40px;
}
.topnav a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
}
.topnav a:hover{
    border-bottom: 2px solid #000;
}
.topnav .icon{
    display: none;
}
.mw-100{
    max-width: 100%;
}
.advantages__container{
    display: flex;
    justify-content: center;
}
.advantages{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.advantages__items{
    width: 30%;
}
footer{
    width: 100%;
    height: auto;
    background-color: black;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
footer p{
    color: white;
}
footer a{
    color: white;
    font-size: 14px;
    margin-left: 10px;
}
footer nav a:hover{
    border-bottom: 1px solid white;
}
.social img{
    margin-left: 10px;
    margin-bottom: 10px;
}
.social img:hover{
    background: pink;
    border-radius: 50%;
}
.icons{
    width: 150px;
    height: 150px;
}
.blog-container{
    background: #fafafa;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.2)0 4px 2px -2px;
    font-weight: 100;
    margin: 48px auto;
    width: 50rem;
}
.blog-container a:hover{
    border-color: #ff4d4d;
    color: #ff4d4d;
}
.blog-cover1{
    background: url("granola.jpg");
    background-size: cover;
    border-radius:5px 5px 0 0 ;
    height: 35rem;
    box-shadow: inset rgba(0,0,0,0.2)0 64px 64px 16px;
}
.blog-cover2{
    background: url("chips.jpg");
    background-size: cover;
    border-radius:5px 5px 0 0 ;
    height: 35rem;
    box-shadow: inset rgba(0,0,0,0.2)0 64px 64px 16px;
}
.blog-cover3{
    background: url("lasagna.jpg");
    background-size: cover;
    border-radius:5px 5px 0 0 ;
    height: 35rem;
    box-shadow: inset rgba(0,0,0,0.2)0 64px 64px 16px;
}
.blog-cover4{
    background: url("tiramisu.jpg");
    background-size: cover;
    border-radius:5px 5px 0 0 ;
    height: 35rem;
    box-shadow: inset rgba(0,0,0,0.2)0 64px 64px 16px;
}
.blog-cover5{
    background: url("br2.jpg");
    background-size: cover;
    border-radius:5px 5px 0 0 ;
    height: 35rem;
    box-shadow: inset rgba(0,0,0,0.2)0 64px 64px 16px;
}
.blog-cover6 {
    background: url("sn2.jpg");
    background-size: cover;
    border-radius:5px 5px 0 0 ;
    height: 35rem;
    box-shadow: inset rgba(0,0,0,0.2)0 64px 64px 16px;
}
.blog-cover7 {
    background: url("di2.jpg");
    background-size: cover;
    border-radius:5px 5px 0 0 ;
    height: 35rem;
    box-shadow: inset rgba(0,0,0,0.2)0 64px 64px 16px;
}
.blog-body{
    margin: 0 auto;
    width: 80%;
}
.blog-title h1 a{
    color: #333;
    font-weight: 100;
}
.blog-text p{
    color: #4d4d4d;
}
.blog-tags ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}
.blog-tags li+li{
    margin-left: .5rem;
}
.blog-tags a{
    border: 1px solid #999999;
    border-radius: 3px;
    color: #999999;
    font-size: .75rem ;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
}
.blog-footer{
    border-top: 1px solid #e6e6e6 ;
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 80%;
}
.blog-footer ul{
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
}
.blog-footer li{
    color: #999999;
    font-size: .75rem;
    height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
}
.published-date{
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0.5rem;
}



@media screen and (max-width: 768px){
    .topnav a:not(:first-child){
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: black;
    }
    nav{
        width: 100%;

    }
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    .advantages__items{
        width: 45%;

    }
    .blog-container{
        width: 28rem;
    }
}

@media screen and (max-width: 420px){
    .advantages{
        flex-direction: column;
    }
    .advantages__items {
        width: 100%;
    }
    .blog-container{
        width: 20rem;
    }

}

#map{
    width: 100%;
    height: 400px;
}

.form {
    width: 50%;
    margin: 50px auto;
}
.feedback-input{
    color: #000;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    background-color: #fff;
    padding: 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom: 1px solid #000;
}
textarea{
    width: 100%;
    height: 150px;
    resize: vertical;
}
.button-submit{
    float: left;
    width: 100%;
    border: 0px solid transparent;
    cursor: pointer;
    background-color: #000;
    color: white;
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 22px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 300;
}
.button-submit:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.ease{
    width: 0;
    height: 74px;
    background-color: #fbfbfb;
    transition: 0.3s ease;
}

.next{
   margin: 20px;
    color: black;
}