.wrapper{
    position: absolute; right: 0; left: 0; top: 0; bottom: 0;
}
.block1{
    width: 94%;
    background-color: lightblue;
    height: 40px;
    border-radius: 7px;
    color: white;
    position: absolute;
    padding-left: 1375px;
}
.img{
    width: 50px;
    height: 50px;
    background-size: 50px;
}
.block2{
    color: green;
    height: 35px;
    width: 98%;
    border-radius: 7px;
    background-color: grey;
    text-align: center;
    position: absolute;
    left: 1%;
}
.ima{
    float: center;
    position: absolute;
    top: 8px;
    left: 590px;
}
