.all{
    display:grid;
    grid-template-rows:repeat(7,15%);
    grid-template-columns:repeat(18,5%);
    grid-gap:3px;
}
.item{
    background-color:lightblue;
    padding:5px;
    text-align:center;
    border:0;
    border-radius:4px;
    color:white;
}
.gaps1{
    grid-column-start:2;
    grid-column-end:18;

}
.gaps2{
    grid-column-start:3;
    grid-column-end:13;
}
.gaps3{
    grid-column-start:3;
    grid-column-end:13;
    grid-row-start:3;
    grid-row-end:4;
}
#gap4{
    column-gap:8px;
}