body {
    background-image: url(https://kazakh-tv.kz/upload/anounces/big_074052f6529a71b3641683f7da041a4c.jpg);
    width:100%;
    background-size: 1600px 900px;
    background-repeat: no-repeat;
}
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.box {
    background-color: #21618C;
    color: white;
    height:110px;
    padding: 10px;
    text-align: left;
}
.whitebox {
    border: 3px solid #21618C;
}
.longbox {
    grid-column: 2/5;
    border: 3px solid #21618C;
}